@use "@/shared/styles/mixins.scss";
@use "@/shared/styles/animations.scss";

.search {
  @include mixins.flex-center(false);
  column-gap: 6px;

  &__button {
    @include mixins.fluid-text(16, 14);

    & {
      @include mixins.flex-center(false);
      column-gap: 6px;
      color: var(--basic-gray);
      background-color: inherit;
    }

    @include mixins.hover {
      .search__icon,
      .search__title {
        color: var(--basic-white);
      }
    }
  }

  &__icon {
    @include mixins.square(22px);
  }

  &__input {
    @include mixins.fluid-text(16, 14);

    & {
      height: var(--height-xl);
      width: 22px;
      padding-inline: 10px;
      border-radius: var(--border-radius-md);
      background-color: var(--basic-gray);
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left center;
    }

    &:focus {
      border: 3px solid var(--bisic-light-blue);
    }

    @include mixins.hover {
      background-color: var(--basic-white);
    }
  }
}