@use "@/shared/styles/mixins.scss";

.burger-menu {
  @include mixins.fluid-padding-block();
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  width: 100vw;
  height: 100vh;
  background-color: var(--base-color-background);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &__overlay {
    position: absolute;
    top: 0;
    right: 30%;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
  }

  &.is-active-burger-menu {
    backdrop-filter: blur(2px);
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  &__close-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 66px;
  }
}

.cross-button {
  @include mixins.square(48px);
  position: relative;
  border-radius: var(--border-radius-sm);
  color: var(--basic-gray);
  background-color: transparent;

  @include mixins.hover {
    background-color: var(--basic-extra-light-rgba);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: var(--border-radius-sm);
    background-color: var(--basic-gray);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}

.button__burger-menu {
  @include mixins.square(48px);
  position: relative;
  border-radius: var(--border-radius-sm);
  color: var(--basic-gray);
  background-color: transparent;

  @include mixins.media-mobile-s {
    margin-left: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: var(--border-radius-sm);
    background-color: var(--basic-gray);
    box-shadow: 0 -8px, 0 8px;
  }

  @include mixins.hover {
    background-color: var(--basic-extra-light-rgba);
  }
}