@use "@/shared/styles/mixins.scss";

.button__burger-menu {
  @include mixins.square(48px);
  position: relative;
  border-radius: var(--border-radius-sm);
  color: var(--basic-gray);
  background-color: transparent;

  @include mixins.media-mobile-s {
    margin-left: 6px;
  }

  @include mixins.media-mobile-s {
    @include mixins.square(44px);
  }

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: var(--border-radius-sm);
    background-color: var(--basic-gray);
    box-shadow: 0 -8px, 0 8px;
  }

  @include mixins.hover {
    background-color: var(--basic-extra-light-rgba);
  }
}

.burger-menu {
  @include mixins.fluid-padding-block();
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--base-color-background);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &[open] {
    transform: translateX(0);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 80%;
    height: 100%;
    background-color: transparent;
    pointer-events: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 20px;
    margin-top: 10px;
    flex-grow: 1;
    overflow-y: auto;
  }

  &__close-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 66px;

    @include mixins.media-mobile-xs {
      height: 44px;
    }
  }
}

.cross-button {
  @include mixins.square(48px);
  position: relative;
  border-radius: var(--border-radius-sm);
  color: var(--basic-gray);
  background-color: transparent;

  @include mixins.hover {
    background-color: var(--basic-extra-light-rgba);
  }

  @include mixins.media-mobile-s {
    @include mixins.square(44px);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: var(--border-radius-sm);
    background-color: var(--basic-gray);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}