@keyframes move-to-left {
  100% {
    opacity: 1;
    width: 180px;
    padding-left: 10px;
    transform: scaleX(1);
  }
}

@keyframes move-to-right {
  50% {
    opacity: 0;
    width: 0;
    padding-left: 0;
    transform: scaleX(0);
  }
}