@use "mixins.scss";

:root {
  --animation-width: 270px;
  @include mixins.media-mobile-s {
    --animation-width: 270px;
  }

  @include mixins.media-mobile-xs {
    --animation-width: 170px;
  }
}

:root {
  --base-font-family: "Inter", sans-serif;
  --base-font-weight: 400;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --base-color-text: #ffffff;
  --base-color-background: rgb(16, 14, 25);
  --basic-extra-light-rgba: rgba(252, 252, 252, 0.2);

  --container-width: 1200px;
  --container-padding-x: 15px;

  --basic-aqua: aqua;
  --basic-midnight: #1f1b2e;
  --basic-gray: #b3b3b3;
  --basic-white: #ffffff;
  --basic-blue: dodgerblue;
  --bisic-light-blue: deepskyblue;

  --height-sm: 22px;
  --height-md: 25px;
  --height-lg: 32px;
  --height-xl: 44px;
  --height-xxl: 48px;


  --border-radius-sm: 6px;
  --border-radius-md: 16px;
}

