@use "mixins.scss";

:root {
  --base-font-family: "Inter", sans-serif;
  --base-font-weight: 400;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --base-color-text: #ffffff;
  --base-color-background: rgb(16, 14, 25);



}