@use "@/shared/styles/mixins";

.auth {
  position: relative;
  z-index: 8;
  margin-inline: 10px;

  .auth__icon {
    @include mixins.media-mobile-s {
      @include mixins.square(20px);
    }
  }

  &__button {
    @include mixins.fluid-text(16, 14);

    & {
      display: flex;
      align-items: center;
      column-gap: 6px;
      height: var(--height-xl);
      padding-inline: 12px;
      border-radius: var(--border-radius-md);
      color: var(--basic-gray);
      background-color: var(--basic-midnight);
    }

    @include mixins.hover {
      .auth__icon {
        color: var(--basic-white);
      }
      color: var(--basic-white);
    }

    @include mixins.media-mobile-s {
      height: var(--height-xl);
    }
  }

  .auth-form {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    height: 400px;
    padding-inline: 45px;
    border-radius: var(--border-radius-md);
    background-color: var(--basic-midnight);

    @include mixins.media-tablet-xs {
      height: 350px;
    }

    &__title {
      @include mixins.fluid-text(18, 14);

      & {
        text-align: center;
      }
    }

    &__label {
      @include mixins.fluid-text(16, 14);

      & {
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }

    &__icon {
      @include mixins.square(24px);
      position: absolute;
      top: 12px;
      left: 10px;
      color: var(--basic-gray);

      @include mixins.media-mobile-s {
        @include mixins.square(20px);
        top: 13px;
      }
    }

    &__input {
      height: var(--height-xl);
      padding-left: 48px;
      padding-right: 10px;
      border-radius: var(--border-radius-sm);

      @include mixins.media-mobile-s {
        padding-left: 38px;
        padding-right: 6px;
      }
    }

    &__button {
      @include mixins.fluid-text(16, 14);

      & {
        height: var(--height-xl);
        border-radius: var(--border-radius-sm);
        background-color: var(--basic-aqua);
      }

      @include mixins.hover {
        opacity: 0.7;
        transition: ease 0.3s;
      }
    }
  }
}