@use "@/shared/styles/mixins.scss";

.navigation {
  margin-inline: 25px  auto;

  &__list {
    display: flex;
    column-gap: 16px;
  }

  &__link {
    @include mixins.reset-link;
    @include mixins.fluid-text(16, 14);

    & {
      color: var(--basic-gray);
    }

    @include mixins.hover {
      color: var(--basic-white);
    }
  }
}