@use "@/shared/styles/mixins.scss";

.header {
  @include mixins.fluid-padding-block();
  display: flex;
  align-items: center;

  @include mixins.media-mobile-xs {
    justify-content: end;
  }

  &__logo {
    @include mixins.media-tablet-xs {
      margin-right: auto;
    }

    @include mixins.media-mobile-xs {
      display: none;
      visibility: hidden;
    }
  }

  &__navigation {
    margin-inline: 25px auto;

    @include mixins.media-tablet-xs {
      display: none;
      visibility: hidden;
    }
  }

  &__auth {
    margin-right: 15px;
  }
}