@use "@/shared/styles/mixins";

.media-element {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 380px;

  &__image {
    height: 300px;
  }

  &__title {
    margin-top: 10px;
    color: var(--basic-white);
  }

  &__rating {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    max-width: 38px;
    width: 100%;
    color: var(--basic-white);
    border-radius: var(--border-radius);
    background-color: var(--base-color-background);

    &-red {
      border: 2px solid var(--basic-red);
    }

    &-orange {
      border: 2px solid var(--basic-orange);
    }
  }
}